body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero {
    padding: 8px 128px 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;;
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

#logo, .action-title {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

#main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.footer, #secondary {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 32px;
}

.hero-text {
    flex: 2 1 50%;
}

.hero-img {
    flex: 1 1 50%;
}

.hero-img img {
    max-width: 100%;
    height: auto;
}

button {
    background: #3882F6;
    border-radius: 8px;
    padding: 8px 16px;
    color: #F9FAF8;
}

#hero-button {
    border: 1px solid #3882F6;
}

#action-button {
    border: 1px solid #F9FAF8;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-content {
    display: flex;
    gap: 32px;
    width: 75%;
}

.info {
    flex: 1 1 25%;
}

.info-img {
    border: 4px solid #3882F6;
    border-radius: 8px;
    padding: 4px
}

.info-img img {
    max-width: 100%;
    height: auto;
}

.info-text {
    font-size: 16px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 96px 192px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.action {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 32px 128px;
}

.action-content {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 64px;
    border-radius: 8px;
    width: 75%;
}

.action-text {
    flex: 2;
}

.action-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}