body {
    display: flex;
    flex-direction: column;
}

.hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.footer, #secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    align-items: center;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}